*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(72, 71, 71);
}
header h2{
    background-color: rgb(0, 149, 255);
    color: aliceblue;
    text-align: center;
    padding: 2rem;
}

.grid-container{
    display: grid;
    height: 800px;
    grid-template-columns: 50% auto;
    grid-template-rows: 20% 10% 60% auto;
    grid-template-areas:'cabecera cabecera'
    'menu menu'
    'contenido lateral'
    'footer footer';
    grid-template-rows: 20% 10% auto 10%;
    background-color: rgb(255, 255, 255);
    
}

.boxes{
    border: 1px solid black;
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
}

.c1{
    grid-area: cabecera; 
    background-color: aqua;
}
.c2{
    grid-area: menu;
    background-color: rgb(255, 162, 233);
}
.c3{
    grid-area: contenido;
    background-color: rgb(255, 221, 185);
}
.c4{
    grid-area: lateral;
}
.c5{
    grid-area: footer;
    background-color: rgb(255, 174, 154);
}



